{% extends 'base.html' %}


{% block content %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Имя</th>
      <th scope="col">Электронная почта</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
    </tr>
  </tbody>
</table>
<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-dark" data-toggle="button" aria-pressed="false" autocomplete="off">
      Добавить адрес
    </button>
</div>
{% endblock %}